.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.sidebar_header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.sidebar_headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar_headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

.sidebar_search {
  display: flex;
  align-items: center;
  height: 39px;
  padding: 10px;
  background-color: #f6f6f6;
}

.sidebar_searchContainer {
  display: flex;
  align-items: center;
  height: 35px;
  width: 100%;
  background-color: white;
}

.sidebar_searchContainer > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}

.sidebar_searchContainer > input {
  width: 100%;
  margin-left: 10px;
  outline-width: 0ch;
  border: none;
}

.sidebar_chats {
  background-color: white;
  overflow: scroll;
  flex: 1;
}
