.header {
  display: flex;
  flex-direction: row;
  border: 2px solid ghostwhite;
  box-shadow: 0 -3px 10px #555;
  padding: 15px;
  align-items: center;
}

.userInfo {
  display: flex;
  align-items: center;
  width: 200px;
  margin-left: 20px;
  cursor: pointer;
}

.userInfo p {
  margin: 0 0 0 10px;
}

@media (max-width: 580px) {
  .userInfo p {
    display: none;
  }
  .userInfo {
    width: 50px;
  }
}
