@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.ant-menu-item a {
  color: gray !important;
}
.ant-menu-item-selected a {
  color: rgb(24, 144, 255) !important;
}
