#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.logo {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 25px;
  padding: 15px;
  font-weight: 900;
}

.sidebar {
  background-color: white;
  height: 100vh;
  z-index: 1;
  position: fixed;
  box-shadow: 0 0 20px 0 #555;
  -moz-box-shadow: 0 0 20px 0 #555;
  -webkit-box-shadow: 0 0 20px 0 #555;
}
